## SYNTAX

### CREATE

```
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
)
```


### INSERT INTO

```
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');
```

```
INSERT INTO table2
SELECT * FROM table1
WHERE condition;
```

### UPDATE 

```
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
```

```
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City = 'Frankfurt'
WHERE CustomerID = 1;
```

### DELETE

```
DELETE FROM table_name WHERE condition;
```

### Drop vs Truncate
https://www.geeksforgeeks.org/difference-between-drop-and-truncate-in-sql/


### LIKE

The LIKE operator is used in a WHERE clause to search for a specified pattern in a column.

There are two wildcards often used in conjunction with the LIKE operator:

The percent sign (%) represents zero, one, or multiple characters
The underscore sign (_) represents one, single character

### JOINS

- The INNER JOIN keyword selects records that have matching values in both tables.
- The LEFT JOIN keyword returns all records from the left table (table1), and the matching records (if any) from the right table (table2).
- The RIGHT JOIN keyword returns all records from the right table (table2), and the matching records (if any) from the left table (table1).
- The CROSS JOIN keyword returns all records from both tables (table1 and table2).

### UNION

The UNION operator is used to combine the result-set of two or more SELECT statements.

- Every SELECT statement within UNION must have the same number of columns
- The columns must also have similar data types
- The columns in every SELECT statement must also be in the same order

### HAVING
The HAVING clause was added to SQL because the WHERE keyword cannot be used with aggregate functions.

*------------------------------------------------------------------------------------------------------------------------------------------------*

## INDEXING